form label.top, form div {
    text-align: left;
    display: block;
    padding-top: 1rem;
    padding-left: 1rem;
    color: var(--accent2-color);
    font-size: 1rem;
}
form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px var(--primary-color);
    border-radius: 4px;
    padding: .75rem;
    color: var(--color);
    width: 90%;
    max-width: 20rem;
    background-color: var(--secondary-color);
}
form label.sbs {
    text-align: left;
    display: block;
    font-size: 1rem;
    padding: 1rem 0 1rem 1rem;
    color: var(--accent2-color);
}
form label.sbs span#rangevalue {
    text-align: left;
    font-size: 1rem;
    vertical-align: middle;
}
#rangevalue {
    font-size: 2rem;
}
#rangevalues {
    display: flex;
}
form label.sbs input#rating {
    font-size: 1rem;
    vertical-align: middle;
    width: 85%;
}
input[type="range"] {
    color: -internal-light-dark(var(--accent2-color), var(--secondary-color));
}
#formmessage {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}
/*form input.submitBtn {
    border: none;
}*/
form input.submitBtn {
    border: none;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: .5rem 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: var(--accent1-color) solid 6px;
}
