root {
    text-align:  left;
    text-indent:  1rem;
}
header {
    background:  brown;
    color: white;
    padding:  1rem;
}
main {
    background:  tan;
    color: black;
    margin:  1rem;
}
ul {
   text-indent:  0;
}
li {
    text-align:  center;
}